<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Edit</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="editAdsForm" [formGroup]="editAdsForm" class="compose-form" fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <div class="file-upload">
                            <div class="image-upload-wrap">
                                <input class="file-upload-input" (click)="hide()" type='file' name="ImageURL"
                                   id="file" (change)="onChange($event);fileProgress($event)"
                                    accept="image/*" />
                                <img [src] ="ImageURL" *ngIf="hideImage"/>
                                <div class="image-preview mb-3" *ngIf="previewUrl"
                                style="margin-top:20px;margin-bottom:20px;" >
                                <img [src]="previewUrl "  />
                            </div>
                                <div class="drag-text" style="height:110px" *ngIf="showId">
                                    <h3 style="font-size:30px !important;">+ <span style=" font-size: 12px;
                                        color: rgba(0,0,0,0.54);">Note:- Upload Image in 340*170 (jpeg, PNG format) of less
                                            than 2MB</span></h3>
        
                                </div>
                            </div>
                        </div>
            </div>
            <br>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" class="pr-4">
                        <mat-label>Call To Action(CTA)</mat-label>
                        <input matInput formControlName="CallToAction">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" class="pr-4">
                        <mat-label>Website Url</mat-label>
                        <input matInput formControlName="WebsiteURL">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
               
                        <mat-form-field appearance="outline" class="pr-4">
                            <mat-label>Brand Name</mat-label>
                            <mat-select formControlName="Brand">
                              <mat-option *ngFor="let brand of bikeBrands" [value]="brand.BrandName">
                                {{brand.BrandName}}
                              </mat-option>
                            </mat-select>
                          </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-form-field appearance="outline">
                        <mat-label>Country</mat-label>
                        <mat-select formControlName="CountryID"  style="margin-right:10px;">
                            <mat-option *ngFor="let country of countries" [value]="country.CountryID" required>
                                {{country.CountryName}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            <p><b>Location</b></p>
            <div fxLayout="row" fxLayoutAlign="space-between">
                    <mat-radio-group aria-label="Select an option"  formControlName="Location" >
                        <mat-radio-button #pan [value]="0" (change)="0">Pan India</mat-radio-button>
                        <mat-radio-button  #city [value]="1" (change)="0" >Select City</mat-radio-button>
                    </mat-radio-group>
                </div>
                <br>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto" [style.display]="city.checked ? 'block' : 'none'">
                        <mat-form-field appearance="outline">
                                <mat-label>Location</mat-label>
                                <input matInput type="text"  formControlName="Location"  (keydown.enter)="$event.preventDefault()"
                                placeholder="Search Location" autocorrect="off" autocapitalize="off" spellcheck="off"
                                type="text" #adsCitySearch>
                        </mat-form-field>
                </div>
            <!-- <p><b>Status</b></p>
            <mat-slide-toggle [checked]="isChecked"></mat-slide-toggle> -->
            <br>
            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <button mat-raised-button style="padding: 0 50px !important;"
                        (click)="onEditAd()"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                        <span>Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>