<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Add</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="addUserMerchandiseForm" [formGroup]="addUserMerchandiseForm" class="compose-form" fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div class="file-upload-userpost-merchandise">
                    <div class="image-upload-wrap-userpost-merchandise">
                        <input class="file-upload-input-userpost-merchandise" name="ImageURLs" type='file' (change)="onChange($event)" accept="image/*" multiple/>
                        <div class="drag-text-userpost-merchandise" style="height:110px">
                            <h3 style="font-size:30px !important;">+</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between">
                        
                <img *ngFor='let url of htmlUrls'  [src]="url" width="200" height="200"><br/>
                <!-- <img [src]="previewUrl"  /> -->
            
            </div>
            <br>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" class="pr-4">
                    <mat-label>Title</mat-label>
                    <input matInput formControlName="Title" type="text">
                </mat-form-field>
            </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Purchased On</mat-label>
                        <input matInput [matDatepicker]="picker"  [max]="today" formControlName="PurchaseDate"
                            required>
                        <mat-datepicker-toggle matSuffix [for]="picker"
                            style="width:1.0em !important;color:#f79726 !important;">
                        </mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Price</mat-label>
                        <input matInput formControlName="Price" type="tel">
                    </mat-form-field>
                </div>
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Location</mat-label>
                        <input matInput  formControlName="Location" (keydown.enter)="$event.preventDefault()"
                        placeholder="Search city" autocorrect="off" autocapitalize="off" spellcheck="off"
                        type="text" #merchandiseCitySearch>
                        <!-- <input matInput formControlName="Location" name="location" type="text"> -->
                    </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Select Country</mat-label>
                        <mat-select formControlName="CountryID"  style="margin-right:10px;">
                                <mat-option *ngFor="let country of countries" [value]="country.CountryID" required>
                                    {{country.CountryName}}
                                </mat-option>
                            </mat-select>
                    </mat-form-field>
                   
                </div>
               <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Contact</mat-label>
                                <input matInput formControlName="Contact" name="location" type="tel">
                            </mat-form-field>
                    <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                        <mat-label>Email ID</mat-label>
                        <input matInput formControlName="Email" name="location" type="email">
                    </mat-form-field>
                   
                </div> 
                <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
                    <div>
                        <button mat-raised-button style="padding: 0 50px !important;"
                            (click)="onAddUserPostedMerchandise()"
                            class="add-product-button fuse-white mt-24 mt-md-0">
                            <span>Save</span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>