@import "src/@fuse/scss/fuse";
@import "src/assets/css/app";
@import "src/assets/css/biker-stories";

e-commerce-biker-stories {

    #bikerStories {

        .top-bg {

            @include media-breakpoint('lt-md') {
                height: 256px;
            }
        }

        > .center {

            > .header {

                .search-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;

                        input {
                            width: 100%;
                            height: 48px;
                            min-height: 48px;
                            max-height: 48px;
                            padding: 0 16px;
                            border: none;
                            outline: none;
                        }
                    }
                }
                .custom-wrapper {
                    width: 100%;
                    max-width: 480px;
                    border-radius: 28px;
                    overflow: hidden;
                    @include mat-elevation(1);

                    @include media-breakpoint('xs') {
                        width: 100%;
                    }

                    .custom-search {
                        width: 100%;
                        height: 48px;
                        line-height: 48px;
                        padding: 0 18px;
                    }
                }
                @include media-breakpoint('lt-md') {
                    padding: 8px 0;
                    height: 192px !important;
                    min-height: 192px !important;
                    max-height: 192px !important;
                }
            }
        }
    }

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;

        .card {
            display: flex;
            align-items: flex-start;
            padding: 10px 10px 10px 10px;
            // margin-bottom: 96px;

            .card-preview {
                display: flex;
                min-width: 220px;
            }

            .card-source {
                display: none;
            }
        }
    }

}
#bikerStories .card .fuse-cards {
    max-width: 465px !important;
    min-width: 465px !important;
    border-radius: 8px !important;
     border: 1px solid !important;
    background: white !important;
     border-color: #e0dddd !important; 
}
// #bikerStories .carousel-slide {
//     width: 100%;
//     height: 165px !important;
//     display: flex;
//     flex-shrink: 0;
//     position: relative;
// }

