.couponImage {
    max-width: 100%;
    /* height: 150px; */
    vertical-align: top;
    border: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}
.fuse-cards {
    position: relative;
    text-align: center;
    background: white;
    border: 1px solid rgba(0, 0, 0, 0.12) !important;
    width: 93%;
    height: 100% !important;
    border-radius: 15px;
}
.validText {
    font-size: 11px;
    color:rgba(0,0,0,0.54);
}
.top-right-green {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    background-color:#15A071;
    color: #fff;
    padding: 5px 35px 5px 35px;
    border-radius: 6px;
}
.top-right-orange {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    background-color: #FB8E0B;
    color: #fff;
    padding: 5px 35px 5px 35px;
    border-radius: 6px;
}
.fuse-green {
    background-color: #fff;
    color:#4d951f !important;;
    border:1px solid #4d951f;
}
.fuse-red {
    background-color: #fff;
    color:red !important;;
    border:1px solid red;
}
body.theme-default .mat-raised-button:not([class*=mat-elevation-z]) {
    box-shadow: none;
}
.test {
    width:35%;
    float:left;
    margin-right:20px
}

p span{
    display: list-item;
    list-style:none;
}
 .products-table {
    border-top: 1px solid rgba(0, 0, 0, 0.12);
}
body.theme-default .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #f79726;
}
body.theme-default .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #ffd29a;
}
.example-card {
    max-width: 310px !important;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  .mat-card-image:first-child {
    margin-top: -16px;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    height: 145px;
}
body.theme-default .mat-card {
    border-radius: 10px;
}
.page-layout.carded.fullwidth > .center {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex: 1 0 auto;
    position: relative;
    z-index: 2;
    padding: 0 10px;
    width: 100%;
    min-width: 0;
    max-width: 100%;
    height: 100%;
    max-height: 100%;
}
.mat-card-actions {
    margin-left: 48px !important;
    margin-right: 0px !important;
    padding: 0px 0  !important;
}
.mat-card>.mat-card-actions:last-child {
    margin-bottom: -15px;
    padding-bottom: 0;
    margin-top: -38px;
}
.mat-button{
    min-width:100px;
}
.mat-card-actions .mat-button, .mat-card-actions .mat-raised-button {
    margin: 0 3px;
}
body.theme-default .page-layout.carded.fullwidth > .center > .content-card {
    background: white;
    border-radius: 8px 8px 0 0;
    margin-top: 20px;
    padding-bottom: 40px;
}
body.theme-default .mat-slide-toggle-thumb {
    box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    background-color: #5b5a6d;
}
body.theme-default .mat-slide-toggle-bar {
    background-color: #B8B8C1;
}
.mat-card h6 span {
    color: #FCAA4D;
}
.pb-0{
    padding-bottom:15px !important;
}
@media screen and (max-width: 959px){
    e-commerce-my-coupons #myCoupons .top-bg {
        height: 323px !important;
        }
    }
    @media screen and (max-width: 959px){
      .center  .header {
    background-color: black !important;
    flex-direction: row;
    box-sizing: border-box;
    display: flex;
    place-content: center;
    align-items: center;
    flex-wrap: wrap;
        }
    }
    @media screen and (max-width: 959px){
        .center  #last{
      background-color: black !important;
      flex-direction: row !important;
      box-sizing: border-box !important;
      display: flex !important;
      place-content: center !important;
      align-items: center !important;
      flex-wrap: wrap !important;
        }
      }
      @media screen and (max-width:959px) {
          .example-card {
            margin-bottom: 10px;
          }
          body.theme-default .fuse-card {
            background: white;
            border-color: rgba(0, 0, 0, 0.12);
            width: 93%;
            height: 67%;
            margin-right: 10px;
        }
        .mobile{
            margin-top:10px !important;
        }
        .fuse-card .font-size-30 {
            font-size: 19px !important;
            color: #000 !important;
        }
        .count{
            margin-top:12px;
        }
        
       
      }
      /* .top-right-green {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 14px;
        background-color:#15A071;
        color: #fff;
        padding: 3px 25px 3px 25px;
        border-radius: 6px;
    } */
    .top-right-red {
        position: absolute;
        top: 0px;
        right: 0px;
        font-size: 14px;
        background-color: #fea003;
        color: #fff;
        padding: 3px 25px 3px 25px;
        border-radius: 6px;
    }
      .fuse-card .font-size-30 {
        font-size: 25px;
        color: #000 !important;
    }
    
    /* @media (min-width: 1200px) { 
        .container-coupon {
           margin-left:50px;
           margin-right:50px;
        }   
    } */
   #myCoupons .content .fuse-card {
        max-width: 280px;
        min-width: 280px;
        border-radius: 8px;
        border: 1px solid rgba(0, 0, 0, 0.12);
        position:relative;
    }
    .fuse-card span {
        color:#000;
    }
    .example-button-row button,
    .example-button-row a {
        margin-right: 8px;
    }
