<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">Add New Bike Brand</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 m-0" fusePerfectScrollbar>

        <form name="addBikeBrandForm" [formGroup]="addBikeBrandForm" class="compose-form" fxLayout="column" fxFlex>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <mat-form-field appearance="outline" class="pr-4">
                    <mat-label>Brand Name</mat-label>
                    <input matInput formControlName="BrandName">
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-form-field appearance="outline" class="pr-4">
                        <mat-label>RSA</mat-label>
                        <input matInput formControlName="RSA">
                    </mat-form-field>
                </div>
            <p><b>Upload Brand Logo</b></p>
            <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                <div class="file-upload">
                        <div class="image-upload-wrap">
                            <input class="file-upload-input" type='file' name="Image"
                               id="file" (change)="onChange($event);fileProgress($event)"
                                accept="image/*" />
                          
                            <div class="image-preview mb-3" *ngIf="previewUrl"
                            style="margin-top:20px;margin-bottom:20px;" >
                                <img [src]="previewUrl"  />
                            </div>
                            <div class="drag-text"  *ngIf="showId">
                               
                                <h3 style="font-size:15px;cursor:pointer;" >
                                    +</h3>
                            </div>
                        </div>
                       
                    </div>
            </div>
            <br>
            <!-- <mat-slide-toggle [checked]="isChecked"></mat-slide-toggle> -->
            <!-- <br> -->
            <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="space-between center">
                <div>
                    <!-- <button mat-raised-button style="padding: 0 50px !important;"
                        (click)="matDialogRef.close(['send',addBikeBrandForm]);onAddBikeBrand()"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                        <span>Save</span>
                    </button> -->
                    <button mat-raised-button style="padding: 0 50px !important;"
                        (click)="onAddBikeBrand();matDialogRef.close();"
                        class="add-product-button fuse-white mt-24 mt-md-0">
                        <span>Save</span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>