<div id="createRide" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div
      class="header accent"
      fxLayout="col"
      fxLayoutAlign="center center"
      fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-between center"
    >
      <!-- APP TITLE -->
      <div class="logo mb-24" fxLayout="row" fxLayoutAlign="start center">
        <!-- <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                            shopping_basket
                        </mat-icon> -->
        <span
          class="logo-text h1"
          [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
        >
          <b> Create Ride</b>
        </span>
        <p
          style="margin-top:90px;margin-left:-135px;cursor:pointer;"
          [routerLink]="'/apps/e-commerce/rides'"
          [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
        >
          < Rides
        </p>
        <br />
      </div>
    </div>
    <!-- / HEADER -->

    <!-- / SEARCH -->
    <!-- CONTENT CARD -->
    <div class="content-card">
      <div
        class="ridebordersafari"
        fxLayoutAlign="center center"
        fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between"
        style="border-bottom:1px solid #EFEFEF !important;"
      >
        <div class="rideheading" style="margin-left:20px;">
          <p class="card-heading"><b>Create Ride</b></p>
        </div>
        <div
          class="rideCreateButton"
          style="margin-right: 20px;margin-top:19px;"
        >
          <button
            mat-raised-button
            (click)="onCreateRide()"
            class="add-product-button fuse-white mt-24 mt-md-0"
          >
            <span> Create </span>
          </button>
        </div>
      </div>

      <div class="tab-content p-24" fusePerfectScrollbar>
        <form
          name="createRideForm"
          [formGroup]="createRideForm"
          class="ride-form"
          fxLayout="column"
          fxFlex
        >
          <p><b>Ride Details</b></p>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Ride Name</mat-label>
              <input
                matInput
                name="name"
                formControlName="RideName"
                type="text"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Ride Description</mat-label>
              <textarea
                matInput
                name="description"
                formControlName="Description"
                rows="5"
                required
              ></textarea>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="15">
              <mat-label>Start Date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                [min]="minDate"
                formControlName="StartDate"
                (dateChange)="compareTwoDates()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
                style="width:1.0em !important;color:#f79726 !important;"
              >
              </mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="15">
              <mat-label>End Date</mat-label>
              <input
                matInput
                [matDatepicker]="pickerTo"
                [min]="minDate"
                formControlName="EndDate"
                (dateChange)="compareTwoDates()"
                required
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="pickerTo"
                style="width:1.9em !important;color:#f79726 !important;"
              >
              </mat-datepicker-toggle>
              <mat-datepicker #pickerTo></mat-datepicker>
              <small *ngIf="createRideForm.hasError('notValid')"
                >Not valid</small
              >
            </mat-form-field>

            
            <!-- <div fxFlex="30">
                            <div class="file-upload">
                                <div class="image-upload-wrap">
                                    <input class="file-upload-input" type='file' onchange="readURL(this);"
                                        accept="image/*" />
                                    <div class="drag-text" style="height:80px">
                                        <h3 style="font-size:20px !important;">+</h3>

                                    </div>
                                </div>
                            </div>
                        </div> -->
          </div>
          <div  fxLayout="row" fxLayoutAlign="space-between" style="margin-top:-90px;">
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>CreatedBy</mat-label>
              <input
                matInput
                name="createdby"
                formControlName="CreatedBy"
                type="text"
                required
              />
            </mat-form-field>
          </div>
          <br>
          <br><br>
          <div fxLayout="row" fxLayoutAlign="space-between" style="margin-top:65px;">
            <div
              class="file-upload safarirideUploadImage"
              style="margin-top: 55px;"
              fxFlex="30"
            >
              <div class="image-upload-wrap">
                <!--   <input class="file-upload-input" type='file' name="Images" id="file" (change)="onChange($event)"
                                    accept="image/png, image/jpeg" multiple> -->
                <input class="file-upload-input" (click)="onChange()" />
                <!-- <button class="file-upload-input" (click)="onChange()"></button> -->
                <div class="drag-text" style="height:55px">
                  <h3 style="font-size:20px !important;">
                    +
                    <span
                      style="font-size:12px;color:#00000099;text-transform: capitalize;"
                      >Upload Image</span
                    >
                  </h3>
                </div>
              </div>
            </div>
            <div appearance="outline" fxFlex="30" class="radio-btn">
              <mat-radio-group aria-label="Select an option">
                <mat-radio-button
                  [checked]="isCheck"
                  value="1"
                  (change)="radioChange($event)"
                  >Use Default Image</mat-radio-button
                >
              </mat-radio-group>
            </div>
            <mat-form-field appearance="outline" fxFlex="15" class="startTime" style="margin-top:-120px;">
              <mat-label>Start Time</mat-label>
              <input
                matInput
                formControlName="StartTime"
                placeholder="StartTime"
                (input)="onSearchChange($event.target.value)"
                type="time"
                step="1"
                required
              />
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="15" class="endTime" style="margin-top:-120px;">
              <mat-label>End Time</mat-label>
              <input
                matInput
                formControlName="EndTime"
                placeholder="EndTime"
                type="time"
                step="1"
                required
              />
            </mat-form-field>
          </div>
          <br />
          <br />

          <div fxLayout="row" fxLayoutAlign="space-between">
            <img
              *ngFor="let url of htmlUrls"
              [src]="url"
              width="200"
              height="200"
            /><br />
            <!-- <img [src]="previewUrl"  /> -->
          </div>
          <br />
          <p class="rideCountrySafari"><b>Select Country</b></p>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-select
                formControlName="CountryID"
                style="margin-right:10px;"
                placeholder="Select country"
              >
                <mat-option
                  *ngFor="let country of getcountries"
                  [value]="country.CountryID"
                  required
                >
                  {{ country.CountryName }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30" style="float: left;">
              <mat-label>State</mat-label>
              <input
                matInput
                name="state"
                formControlName="State"
                type="text"
                readonly
              />
            </mat-form-field>
            <div appearance="outline" fxFlex="30"></div>
          </div>
          <p class="ridelocationSafari"><b>Location & Halts</b></p>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label> Start Location</mat-label>
              <input
                matInput
                name="startlocation"
                formControlName="StartLocationName"
                type="text"
                required
              />
              <span
                matSuffix
                (click)="openDialog('startLocation', null)"
                style="color:#f79726;font-size:12px;"
                >Pin Location</span
              >
            </mat-form-field>
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label> End Location</mat-label>
              <input
                matInput
                name="endlocation"
                formControlName="DestinationLocationName"
                type="text"
                required
              />
              <span
                matSuffix
                (click)="openDialog('destLocation', null)"
                style="color:#f79726;font-size:12px;"
                >Pin Location</span
              >
            </mat-form-field>
            <div appearance="outline" fxFlex="30"></div>
          </div>

          <div
            fxLayout="column"
            class="haltRideSafari"
            fxLayoutAlign="space-between"
            formArrayName="HaltLocations"
          >
            <div
              appearance="outline"
              fxFlex="55"
              *ngFor="
                let halt of createRideForm.get('HaltLocations')['controls'];
                index as i
              "
            >
              <div [formGroupName]="i">
                <mat-form-field appearance="outline" fxFlex="35">
                  <mat-label>Halt Location {{ i + 1 }}</mat-label>

                  <input
                    matInput
                    name="name"
                    formControlName="Name"
                    type="text"
                  />
                  <span
                    matSuffix
                    (click)="openDialog('haltLocation', i)"
                    style="color:#efa72e;font-size:12px;top:-11px"
                    >Pin Location</span
                  >

                  <div
                    appearance="outline"
                    fxFlex="10"
                    *ngIf="
                      createRideForm.get('HaltLocations').controls.length > 1
                    "
                  >
                    <h3
                      class="minus-sign"
                      style="margin-top:-8px;cursor:pointer"
                      (click)="deleteHaltLocations(i)"
                    >
                      x
                    </h3>
                  </div>
                </mat-form-field>
              </div>
              <br />
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between"
              style="margin-top:-60px;"
            >
              <div appearance="outline" fxFlex="15"></div>
              <div appearance="outline" fxFlex="15"></div>
              <div appearance="outline" fxFlex="60">
                <h3
                  class="plusbtn"
                  style="cursor: pointer;"
                  (click)="addNewHaltLocations()"
                >
                  +
                </h3>
              </div>
            </div>

            <div appearance="outline" fxFlex="30"></div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between"
            class="distnceRideSafari"
          >
            <div appearance="outline" fxFlex="30">
              <p style="float:left">Estimated Distance</p>
              <p style="float:right;color:#e95130;">
                {{ createRideForm.get("EstimatedDistance").value }}
              </p>
            </div>
            <div appearance="outline" fxFlex="30"></div>
            <div appearance="outline" fxFlex="30"></div>
          </div>
          <br />

          <p class="returnrideSafari"><b>Return Location</b></p>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label> Return Location</mat-label>
              <input
                matInput
                name="returnlocation"
                formControlName="ReturnLocationName"
                type="text"
              />
              <span
                matSuffix
                (click)="openDialog('returnLocation', null)"
                style="color:#f79726;font-size:12px;"
                >Pin Location</span
              >
            </mat-form-field>

            <div appearance="outline" fxFlex="30"></div>
          </div>

          <div
            class="returnhaltSafari"
            fxLayout="row"
            fxLayoutAlign="space-between"
            formArrayName="ReturnHaltLocations"
          >
            <div
              appearance="outline"
              fxFlex="55"
              *ngFor="
                let halt of createRideForm.get('ReturnHaltLocations')[
                  'controls'
                ];
                index as i
              "
            >
              <div [formGroupName]="i">
                <mat-form-field appearance="outline" fxFlex="90">
                  <mat-label>Return Halt Location {{ i + 1 }}</mat-label>

                  <input
                    matInput
                    name="name"
                    formControlName="Name"
                    type="text"
                  />
                  <span
                    matSuffix
                    (click)="openDialog('returnHaltLocation', i)"
                    style="color:#f79726;font-size:12px;"
                    >Pin Location</span
                  >

                  <div
                    appearance="outline"
                    fxFlex="10"
                    *ngIf="
                      createRideForm.get('ReturnHaltLocations').controls
                        .length > 1
                    "
                  >
                    <h3
                      class="minus-sign"
                      (click)="deleteReturnHaltLocations(i)"
                    >
                      x
                    </h3>
                  </div>
                </mat-form-field>
              </div>
              <br />
            </div>
            <div appearance="outline" fxFlex="10">
              <h3 class="plusbtn" (click)="addNewReturnHaltLocations()">+</h3>
            </div>
            <div appearance="outline" fxFlex="30"></div>
          </div>
          <div
            fxLayout="row"
            fxLayoutAlign="space-between"
            class="returndistSafari"
          >
            <div appearance="outline" fxFlex="30">
              <p style="float:left">Return Estimated Distance</p>
              <p style="float:right;color:#e95130;">
                {{ createRideForm.get("ReturnEstimatedDistance").value }} 
              </p>
            </div>
            <div appearance="outline" fxFlex="30"></div>
            <div appearance="outline" fxFlex="30"></div>
          </div>
          <br />

          <p class="paidRideSafari"><b>Paid/Free Ride</b></p>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-radio-group
              aria-label="Select an option"
              formControlName="RideType"
            >
              <mat-radio-button
                #paid
                value="Paid"
                class="rides"
                (change)="(0)"
                checked
                >Paid Ride
              </mat-radio-button>
              <mat-radio-button value="Free" class="rides" (change)="(0)"
                >Free Ride</mat-radio-button
              >
            </mat-radio-group>
          </div>
          <div
            class="priceSafari"
            *ngIf="paid.checked"
            fxLayout="row"
            fxLayoutAlign="space-between"
            style="margin-top:20px;"
          >
            <mat-form-field
              appearance="outline"
              fxFlex="30"
              style="margin-right:10px;"
            >
              <mat-label>Total Price</mat-label>
              <input
                matInput
                name="price"
                (keypress)="numberOnly($event)"
                formControlName="TotalPrice"
                type="text"
              />
            </mat-form-field>
          </div>

          <br />
          <p class="ridefeesafari" *ngIf="paid.checked">
            <b>Ride fee Breakup</b>
          </p>
          <div *ngIf="paid.checked" fxLayout="column" formArrayName="Price">
            <div
              class="fuse-card auto-width"
              style="margin-top:20px;"
              *ngFor="
                let comp of createRideForm.get('Price')['controls'];
                let i = index
              "
            >
              <p style="padding-left:10px;"></p>

              <div [formGroupName]="i">
                <div
                  fxLayout="row"
                  fxLayoutAlign="space-between"
                  class="tickets"
                >
                  <mat-form-field
                    appearance="outline"
                    fxFlex="40"
                    style="margin-right:10px;"
                  >
                    <mat-label>Price</mat-label>
                    <input
                      matInput
                      name="price"
                      (keypress)="numberOnly($event)"
                      formControlName="Price"
                      type="text"
                    />
                  </mat-form-field>
                  <mat-form-field
                    appearance="outline"
                    fxFlex="55"
                    style="margin-right:10px;"
                  >
                    <mat-label>Description</mat-label>
                    <textarea
                      matInput
                      name="Description"
                      formControlName="Description"
                      rows="2"
                    ></textarea>
                  </mat-form-field>
                  <div
                    appearance="outline"
                    fxFlex="10"
                    *ngIf="createRideForm.get('Price').controls.length > 1"
                  >
                    <h3
                      class="minus-sign"
                      style="cursor: pointer;"
                      (click)="deletePrice(i)"
                    >
                      x
                    </h3>
                  </div>
                  <!-- <div appearance="outline" fxFlex="33"></div> -->
                </div>
              </div>
              <br />
            </div>
            <div
              fxLayout="row"
              fxLayoutAlign="space-between"
              style="margin-top:-80px;"
            >
              <div class="appearance" fxFlex="15"></div>
              <div class="appearance" fxFlex="15"></div>
              <div class="appearance" fxFlex="30">
                <h3 class="plusbtn" (click)="addNewPrice()"><b>+</b></h3>
              </div>
            </div>
          </div>
          <br />
          <p class="infoSafari"><b>Additional Info</b></p>
          <div fxLayout="row" fxFlex="85">
            <mat-form-field appearance="outline" fxFlex="66">
              <mat-label>Enter Your Text Here</mat-label>
              <textarea
                matInput
                name="info"
                formControlName="AdditionalInfo"
                rows="4"
              ></textarea>
            </mat-form-field>
          </div>
          <br />
          <p class="rideInviteSafari"><b>Select Invite Type</b></p>
          <div fxLayout="row" fxLayoutAlign="space-between">
            <mat-radio-group
              aria-label="Select an option"
              formControlName="InviteType"
            >
              <mat-radio-button
                value="Public"
                class="events"
                [checked]="Checked"
                >Public Ride
              </mat-radio-button>
              <!-- <mat-radio-button value="2" class="events">Private Ride</mat-radio-button> -->
            </mat-radio-group>
          </div>
          <br />
          <div
            fxLayout="row"
            class="rideBrandsSafari"
            fxLayoutAlign="space-between"
          >
            <mat-form-field appearance="outline" fxFlex="30">
              <mat-label>Brand & Model</mat-label>

              <mat-select
                formControlName="BrandModels"
                #ridebikeSelect
                multiple
              >
                <mat-select-search
                  formControlName="bikeFilterCtrl"
                ></mat-select-search>
                <mat-optgroup
                  *ngFor="let bike of filteredRideBikes | async"
                  [label]="bike.BrandName"
                >
                  <mat-option
                    *ngFor="let item of bike.BikeModels"
                    [value]="item"
                    (click)="tosslePerOne(allSelected.viewValue)"
                  >
                    {{ item.ModelName }}
                  </mat-option>
                </mat-optgroup>
                <!-- </mat-autocomplete> -->
              </mat-select>
            </mat-form-field>
            <div appearance="outline" fxFlex="30"></div>
            <div appearance="outline" fxFlex="30"></div>
          </div>
          <div
            class="allSafari"
            fxLayout="row"
            fxLayoutAlign="space-between"
            style="display: none;"
          >
            <div appearance="outline" fxFlex="35">
              <mat-checkbox
                #allSelected
                (click)="toggleAllSelection()"
                formControlName="isSelected"
                >Select all Bike Brands & Models
              </mat-checkbox>
            </div>
            <div appearance="outline" fxFlex="10"></div>
            <div appearance="outline" fxFlex="50"></div>
          </div>
          <br />
          <br />
          <br />
        </form>
      </div>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
