<div id="bikeDetail" class="page-layout carded fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div
      class="header accent first"
      fxLayout="col"
      fxLayoutAlign="start start"
      fxLayout.gt-sm="row"
      fxLayoutAlign.gt-sm="space-evenly center"
    >
      <!-- APP TITLE -->
      <div class="logo mb-24" fxLayout="row" fxLayoutAlign="start center">
        <!-- <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon> -->
        <span
          class="logo-text h1"
          [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
        >
          Bikes & Images
          <p
            style="font-size:12px;cursor:pointer;"
            [routerLink]="'/apps/e-commerce/images'"
            [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }"
          >
            < {{ brandname }}
          </p>
        </span>
      </div>
      <!-- / APP TITLE -->
      <!-- ADD BUTTON -->
      <!-- <button mat-raised-button [routerLink]="'/apps/e-commerce/products/new'"
                class="add-product-button fuse-white mt-24 mt-md-0">
                <span>ADD NEW PRODUCT</span>
            </button> -->
      <!-- / ADD BUTTON -->
      <div
        fxLayout="row"
        fxLayoutAlign="start"
        fxLayout.gt-sm="row"
        flex-md="33"
      >
        <!-- <div fxLayout="row" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start"> -->
        <!--Widget 1-->
        <div class="widget col" fxFlex="100" fxFlex.gt-sm="40">
          <div
            class="fuse-card auto-width mb-32"
            [ngClass.gt-sm]="'mb-0 mr-98'"
            style="height:70% !important;width:95% !important;margin-top:25px !important;"
          >
            <div
              class="p-16 pb-0"
              fxLayout="row wrap"
              fxLayoutAlign="start end"
            >
              <div class="pr-16">
                <div class="h3 secondary-text">Total Bike Brands</div>
                <div class="font-size-22 line-height-1 mt-8">
                  {{ infocountboxes.Total_Bike_Brands }}
                  <span id="icon" style="margin-left: 22px;">
                    <!-- <mat-icon aria-hidden="false" aria-label="strength"
                                                            class="peopleicon">
                                                            directions_bike
                                                        </mat-icon> -->
                    <img
                      src="assets/icons/motorcycle.svg"
                      width="50"
                      height="50"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="widget col" fxFlex="100" fxFlex.gt-sm="40">
          <div
            class="fuse-card auto-width mb-32"
            [ngClass.gt-sm]="'mb-0 mr-98'"
            style="height:70% !important;width:95% !important;margin-top:25px !important;"
          >
            <div
              class="p-16 pb-0"
              fxLayout="row wrap"
              fxLayoutAlign="start end"
            >
              <div class="pr-16">
                <div class="h3 secondary-text">Total Images</div>
                <div class="font-size-22 line-height-1 mt-8">
                  {{ infocountboxes.Total_Images }}
                  <span id="icon" style="margin-left: 22px;">
                    <!-- <mat-icon aria-hidden="false" aria-label="strength"
                                                            class="peopleicon">
                                                            directions_bike
                                                        </mat-icon> -->
                    <img
                      src="assets/icons/motorcycle.svg"
                      width="50"
                      height="50"
                    />
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="widget col" fxFlex="30" fxFlex.gt-sm="33"></div>
        <!---  / Widget -->
        <!-- Widget 2 -->
        <div class="widget col" fxFlex="40" fxFlex.gt-sm="33"></div>
        <!-- / Widget 2 -->

        <!-- Widget 3 -->
        <div class="widget col" fxFlex="30" fxFlex.gt-sm="33"></div>

        <br />
      </div>
    </div>
    <div class="row col-md-12">
      <div class="center">
        <div
          class="header accent"
          id="last"
          fxLayout="column"
          fxLayoutAlign="center center"
          fxLayout.gt-sm="row"
          fxLayoutAlign.gt-sm="space-between center"
          style="background-color:black !important;"
        >
          <!-- SEARCH -->
          <!-- <div
            class="search-wrapper mx-32 mx-md-0"
            style="margin-left:130px !important;"
          >
            <div
              class="search"
              fxFlex
              fxLayout="row"
              fxLayoutAlign="start center"
            >
              <input
                #filter
                [(ngModel)]="searchTerm"
                (input)="filterBikeModelsByTitle()"
                placeholder="Search"
              />
            </div>
          </div> -->

          <div class="custom-wrapper mx-32 mx-md-0">
            <div
              class="custom-search"
              fxLayout="row"
              fxLayoutAlign="start center"
              class="btn"
            >
              <!-- <button mat-raised-button (click)="addBikeBrandDialog()"
                                class="add-product-button fuse-white mt-24 mt-md-0">
                                <span>Add New Bike Brand</span>
                            </button> -->
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- / HEADER -->

    <!-- / SEARCH -->
    <!-- CONTENT CARD -->
    <div class="content-card">
      <div
        fxLayout="column"
        fxLayoutAlign="center center"
        fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between"
        style="border-bottom:1px solid #EFEFEF !important;"
      >
        <div fxLayout="column" style="margin-left:20px;">
          <p class="card-heading">
            <b>{{ bike.BrandName }}</b>
          </p>
        </div>
        <div fxLayout="column" style="margin-right: 20px;margin-top:5px;">
          <button
            mat-raised-button
            style="padding: 0 50px !important;"
            class="add-product-button fuse-white mt-24 mt-md-0"
            (click)="addBikeModelDialog()"
          >
            <span> Add New Model </span>
          </button>
        </div>
      </div>

      <!-- CONTENT -->
      <!-- <div class="content" style="padding: 20px 30px 20px;">

                    <div fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
                        fxLayoutAlign.gt-sm="space-between">

                        <div class="fuse-cards" fxLayout="column" fxFlex="20" 
                            style="margin-right: 10px;height:78px !important;border: 1px solid !important; border-color: rgba(0, 0, 0, 0.12) !important; border-radius:8px;">

                            <div fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                                <div appearance="outline" fxFlex="60" class="pr-4">
                                    <h4><b>Kawsaki Ninja 200</b></h4>
                                </div>
                            </div>

                        </div>
                      
                    </div>
                    
            



                </div> -->

      <div class="content">
        <div class="cards">
          <div class="card" *ngFor="let model of models">
            <!-- PREVIEW -->
            <div class="card-preview">
              <div class="fuse-card">
                <!--  <img src="assets/images/cards/bikeimage.png" class="couponImage">  -->
                <div
                  class="p-16"
                  fxLayout="column"
                  fxLayoutAlign="space-between start"
                >
                  <img src="{{ model.Image }}" class="couponImage" />
                  <div
                    fxLayout="row"
                    fxLayoutAlign="center center"
                    fxFlex="1 0 auto"
                  >
                    <div appearance="outline" class="pr-4">
                      <h4>
                        <b>{{ model.ModelName | titlecase }}</b>
                      </h4>
                    </div>
                  </div>
                  <div
                    class="p-8 pt-0"
                    fxLayout="row"
                    fxLayoutAlign="start center"
                  >
                    <div appearance="outline" fxFlex="30" class="pr-4">
                      <button
                        (click)="editBikeModelDialog(model)"
                        style="color:#000 !important;"
                        mat-button
                      >
                        Edit
                      </button>
                    </div>
                    <div appearance="outline" fxFlex="30" class="pr-4">
                      <button
                        style="color:#000 !important;"
                        mat-button
                        (click)="deleteBikeModels(model)"
                      >
                        Delete
                      </button>
                    </div>
                    <div
                      appearance="outline"
                      fxFlex="30"
                      class="pr-4"
                      style="margin-left:30px;"
                    >
                      <!-- <mat-slide-toggle [checked]="Checked3"></mat-slide-toggle> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / PREVIEW -->
          </div>
        </div>
      </div>
      <!-- / CONTENT -->
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
