@import "src/@fuse/scss/fuse";

.add-category {

    @include media-breakpoint('xs') {
        width: 100%;
    }

    @include media-breakpoint('gt-xs') {
        width: 640px;
    }

    .mat-dialog-container {
        padding: 0;

        .compose-form {

            .mat-form-field {
                width: 100%;
            }
            .show-hide-extra-fields {
                text-align: right;
                cursor: pointer;
                font-size: 12px;
            }
            
            .attachment-list {
                font-size: 13px;

                .attachment {
                    border: 1px solid;
                    border-radius: 20px;
                    padding-left: 16px;
                    margin-top: 8px;

                    .filename {
                        font-weight: 600;
                    }

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }

            .cards {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-start;
                align-items: flex-start;
    
                .card {
                    display: flex;
                    align-items: flex-start;
                    padding: 10px 10px 10px 10px;
                    // margin-bottom: 96px;
    
                    .card-preview {
                        display: flex;
                        min-width: 220px;
                    }
    
                    .card-source {
                        display: none;
                    }
                }
            }
        }
    }

    .dialog-content-wrapper {
        max-height: 85vh;
        display: flex;
        flex-direction: column;
    }
    .fuse-white {
        background-color:#f79726 !important;
        color:#ffffff !important;
    }
    .mat-toolbar{
        background: #ffffff !important;
        color: #000000 !important;
        border-bottom: 1px solid #0000001f;
    }
    .mat-icon {
        color: #f79726 !important;
    }
    .plus {
        color: #f79726 !important;
        font-size: 30px;
        margin-left:20px;
    }
    #addCategory .fuse-card {
        max-width: 200px !important;
        min-width: 200px !important;
        border-radius: 8px !important;
         border: 1px solid !important;
        background: white !important;
         border-color: #eee !important; 
    }
    
}
